@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.App {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-title {
  color: var(--theme-light);
}

label {
  font-weight: normal;
  margin-right: 5px;
  padding-right: 10px;
}

select {
  margin-left: 10px;
}

input {
  font-weight: bold;
}

.container {
  display: inline-block;
}

.form-row {
  display: inline-table;
  justify-content: center;
  gap: 10px 20px; /* row-gap column gap */
  column-gap: 20px; /* email and textarea */
  margin-top: 30px;
}

.form-input {
  display: inline-table;
  width: 200px;
  height: 20px;
}

.button {
  align-items: center;
  color: #fff;
  background-color: #527a00;
  background-color: var(--fabric-theme-base, #527a00);
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 5%), 0 0 0 2px transparent;
  box-sizing: border-box;
  display: inline-flex;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 800;
  height: 34px;
  line-height: 1.125;
  padding: 0 24px;
  position: relative;
  user-select: none;
  vertical-align: bottom;
  justify-content: center;
  margin-top: 30px;
}

:root {
  --theme-base: #007400;
  --theme-light: #1e901c;
  --theme-lighter: #3cab38;
}

.container {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  max-width: 500px;
  width: 100%;
}
.container > form {
  /* width: 70%; */
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
